In [22]:
import re
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import string

In [23]:
translation_table = str.maketrans('', '', string.punctuation)


def pairs(f1,f2):
    data ={}
    data["source"] =[]
    data["target"] =[]
    with open(f1,encoding='utf-8') as src_file, open(f2,encoding='utf-8') as tgt_file:
        for src, tgt in zip(src_file,tgt_file):
            data["source"].append(re.sub("\(.*?\)", "", src.strip())+'\n')
            data["target"].append(re.sub("\(.*?\)", "", tgt.strip()).lower().translate(translation_table)+'\n')
    return data

hi_pairs = pairs("../data/TED2020.en-hi.hi","../data/TED2020.en-hi.en")

In [26]:
#remove empyty rows
hi_df = pd.DataFrame.from_dict(hi_pairs)
hi_df.replace("", np.nan, inplace=True)
hi_df.replace("\n", np.nan, inplace=True)
hi_df.replace("        ", np.nan, inplace=True)
hi_df.dropna(subset=['target'], inplace=True)
hi_df.dropna(subset=['source'], inplace=True)
hi_df = hi_df.drop_duplicates()

In [27]:
hi_df

,source,target
0,"बहुत बहुत धन्यवाद,क्रिस.\n",thank you so much chris\n
1,और यह सच में एक बड़ा सम्मान है कि मुझे इस मंच ...,and its truly a great honor to have the opport...
2,"मैं इस सम्मलेन से बहुत आश्चर्यचकित हो गया हूँ,...",i have been blown away by this conference and ...
3,"और मैं बहुत इमानदारी से कहता हूँ, आंशिक रूप से...",and i say that sincerely partly because i nee...
4,आप अपने आप को मेरी स्थिति में रखें !\n,put yourselves in my position\n
...,...,...
47624,"आजकल, सामान्य मूल आय के विषय पर बहुत चर्चा हो ...",theres a great deal of discussion for instance...
47625,"ये सामूहिक चुनौती हम सबके सामने है, कि कैसे हर...",and this is the collective challenge thats rig...
47626,इस चुनौती का हल निकालने के लिए कई अलग तरीकों स...,solving this problem is going to require us to...
47627,"और सही कदम क्या होगा, इसपर बहुत मतभेद होगा लेक...",theres going to be a lot of disagreement about...
47631,ऊपर सूरज चमक रहा है और यहाँ नीचे १० डिग्री से...,sun shining up above down here its 10 below i...

In [28]:
new = hi_df.loc[hi_df['target'].str.len() < 100]
new

,source,target
0,"बहुत बहुत धन्यवाद,क्रिस.\n",thank you so much chris\n
3,"और मैं बहुत इमानदारी से कहता हूँ, आंशिक रूप से...",and i say that sincerely partly because i nee...
4,आप अपने आप को मेरी स्थिति में रखें !\n,put yourselves in my position\n
5,मैं आठ साल तक उप-राष्ट्रपति था\n,i flew on air force two for eight years\n
6,"अब हवाई जहाज़ पर चढ़ने के लिए, मुझे अपने जूते उ...",now i have to take off my shoes or boots to g...
...,...,...
47618,"अगर आर्थिक वृद्धिदर 2% भी रहता है, तो हमारे बच...",if economic growth continues at two percent ou...
47619,"अगर ये सिर्फ़ 1% भी रहता है, तो हमारे नाती-पोते...",if it continues at a more measly one percent o...
47620,"सामान्यतः, हमने मूल आर्थिक समस्या सुलझा ली है.\n",by and large weve solved that traditional econ...
47622,"कई अर्थशास्त्रियों के अनुसार, यह समस्या जटिल ह...",as other economists have noted solving this pr...
47626,इस चुनौती का हल निकालने के लिए कई अलग तरीकों स...,solving this problem is going to require us to...

In [ ]:
with open(f'processed/30k_hi/{k}', 'w',encoding='utf-8') as fp:
        fp.writelines(v)